<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <listeners>
    <listener class-name="listenersdemo.Mylistener" />
 
  </listeners>



  <test thread-count="5" name="listenersfor2files">
    <classes>
      <class name="listenersdemo.Dataproviderdemo"/>
      <class name="listenersdemo.VerifyGooglePAge"/>
    </classes>
    
    
  </test> <!-- listenersfor2files -->
</suite> <!-- Suite -->
